<div class="month-selector-container">
  <mat-form-field appearance="fill" class="month-selector">
    <mat-label>Select Date</mat-label>
    <input
      matInput
      [matDatepicker]="datePicker"
      [(ngModel)]="selectedMonth"
      (dateChange)="onMonthChange()"
      [min]="minDate"
    />
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker
      #datePicker
      startView="multi-year"
      [startAt]="selectedMonth"
      [dateClass]="dateClass"
    ></mat-datepicker>
  </mat-form-field>
</div>

<div class="calendar">
  <div
    class="calendar-day"
    role="button"
    *ngFor="let day of daysInMonth"
    (click)="!isDayDisabled(day) && openAppointmentForm(day)"
    cdkDropList
    [cdkDropListConnectedTo]="connectedDropLists"
    [cdkDropListData]="appointments[day.toISOString()] || []"
    (cdkDropListDropped)="onDrop($event, day)"
    [id]="day.toISOString()"
    [ngClass]="{
      'has-appointments': hasAppointments(day),
      'disabled-day': isDayDisabled(day),
      today: isToday(day)
    }"
  >
    <div class="day-header">
      <span class="day-number">{{ day | date : "d" }}</span>
      <span class="day-month">{{ day | date : "MMM" }}</span>
    </div>

    <div
      *ngFor="let appointment of appointments[day.toISOString()] || []"
      class="appointment"
      cdkDrag
      (click)="openAppointmentDialog(appointment); $event.stopPropagation()"
    >
      <mat-icon class="event-icon">event</mat-icon>
      <div class="appointment-title">
        {{ appointment.title }} ({{ appointment.time }})
      </div>
      <mat-icon
        class="delete-icon"
        (click)="deleteAppointment(day, appointment); $event.stopPropagation()"
        >delete</mat-icon
      >
    </div>
  </div>
</div>
